<meta name="twitter:creator" content="@silverbirder" />

<link rel="stylesheet" href="{{ '/_assets/body.css' | asset | url }}" mdjs-use>

<meta name="google-site-verification" content="-8bAm041798VvU0oItcuyuShbVINfNMLfTmP7tENPDY" />

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8842494351079365" crossorigin="anonymous"></script>
