/**
 * PandaCSS CSS layers
 * View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
 */
/* @import url(./fonts.css); */
@import url(./prism-vsc-dark-plus.css);

@layer reset, base, tokens, recipes, utilities;
