@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #00adb5;
  color: #eeeeee;
}

html {
  min-width: 360px;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

@layer base {
  :root {
    --background: 0 0% 93%; /* #EEEEEE */
    --foreground: 214 18% 16%; /* #222831 */
    --card: 0 0% 93%; /* #EEEEEE */
    --card-foreground: 214 18% 16%; /* #222831 */
    --popover: 0 0% 93%; /* #EEEEEE */
    --popover-foreground: 214 18% 16%; /* #222831 */
    --primary: 185 100% 35%; /* #00ADB5 */
    --primary-foreground: 185 0% 93%; /* #EEEEEE */
    --secondary: 217 13% 25%; /* #393E46 */
    --secondary-foreground: 0 0% 93%; /* #EEEEEE */
    --muted: 217 13% 25%; /* #393E46 */
    --muted-foreground: 0 0% 93%; /* #EEEEEE */
    --accent: 185 100% 35%; /* #00ADB5 */
    --accent-foreground: 0 0% 93%; /* #EEEEEE */
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 93%; /* #EEEEEE */
    --border: 217 13% 25%; /* #393E46 */
    --input: 217 13% 25%; /* #393E46 */
    --ring: 185 100% 35%; /* #00ADB5 */
    --chart-1: 185 100% 35%; /* #00ADB5 */
    --chart-2: 214 18% 16%; /* #222831 */
    --chart-3: 217 13% 25%; /* #393E46 */
    --chart-4: 0 0% 93%; /* #EEEEEE */
    --chart-5: 185 100% 35%; /* #00ADB5 */
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.prose {
  --tw-prose-body: #222831;
  --tw-prose-headings: #222831;
  --tw-prose-lead: #393e46;
  --tw-prose-links: #00adb5;
  --tw-prose-bold: #222831;
  --tw-prose-counters: #393e46;
  --tw-prose-bullets: #393e46;
  --tw-prose-hr: #eeeeee;
  --tw-prose-quotes: #222831;
  --tw-prose-quote-borders: #00adb5;
  --tw-prose-captions: #393e46;
  --tw-prose-code: #222831;
  --tw-prose-pre-code: #eeeeee;
  --tw-prose-pre-bg: #222831;
  --tw-prose-th-borders: #393e46;
  --tw-prose-td-borders: #eeeeee;
  --tw-prose-invert-body: #eeeeee;
  --tw-prose-invert-headings: #ffffff;
  --tw-prose-invert-lead: #393e46;
  --tw-prose-invert-links: #00adb5;
  --tw-prose-invert-bold: #ffffff;
  --tw-prose-invert-counters: #393e46;
  --tw-prose-invert-bullets: #393e46;
  --tw-prose-invert-hr: #222831;
  --tw-prose-invert-quotes: #eeeeee;
  --tw-prose-invert-quote-borders: #00adb5;
  --tw-prose-invert-captions: #393e46;
  --tw-prose-invert-code: #ffffff;
  --tw-prose-invert-pre-code: #222831;
  --tw-prose-invert-pre-bg: rgba(238, 238, 238, 0.1);
  --tw-prose-invert-th-borders: #393e46;
  --tw-prose-invert-td-borders: #222831;
}

.prose ul ul,
.prose ul ol,
.prose ol ul,
.prose ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
